/*/Colores/*/
$color-primario: #e9be82d7;
$color-textobold: #45322e;
$color-texto: black; 
$color-icons:  rgba(245, 245, 245, 0.531);
$color-icons-hover: white;
$color-btn: #F2EBBF;


/*/Fuentes/*/
$font-title: 'Cinzel', serif;
$font-subtitle: 'Quattrocento', serif;
$font-text: 'Lora', serif;
$font-color-hover:  #45322e;
$color-text-footer: rgba(255, 255, 255, 0.837);
$font-size-resaltado: 14px;
$font-size-resaltadoxl: 22px;

$backgroung-color-footer: black;
$transition: all 0.5s;

