/* Seteo tarjetas con información */
.tarjeta{
    border-radius: 20%;
    padding-top: 30px;
    padding-bottom: 30px;
   @include dflex (column, center, center);
   &__imagen{
    width: 300px;
    height: 260px;
    box-shadow: 10px 20px 10px;
    transition: all 1s;
   }
   &__imagen:hover {
    transform: scale(1.2);
}
&__texto{
    font-size: 16px;
    width: 22rem;
    height: 90px;
    text-align: justify;
    line-height: 1;
    font-style: italic;
    padding: 10px;
    @include mq (1200px){
        font-size: 22px;
        height: 150px;
    }
}
&__titulo {
    font-family: $font-title;
    font-size: 22px;
    text-align: center;
    font-weight: 800;
    width: 25rem;
    padding-top: 30px;
    text-decoration: underline;
    @include mq (1200px){
        font-size: 30px;
    }
}

   
}
/* Seteo tarjetas con boton  */

.cardprod{
    box-shadow: 0px 4px 20px;
    min-width: 220px;
    max-width: 220px;
    border-radius: 15px;
    height: 320px;
    @include dflex (column, space-between, center);
    overflow: hidden;
    margin-top: 40px;
    margin-bottom: 40px;
    @include mq(1200px){
        min-width: 320px;
    max-width: 320px;
    height: 420px;
    }
    &-img {
        width: 100%;
        height: 55%;
    }
    &-title{
        font-size: 13px;
        font-family: $font-title;
        font-weight: 600;
        padding: 5px;
        text-align: center; 
        @include mq(1200px){
          font-size: 18px;

        }
    
    }
    &-text{
        font-size: 13px;
        font-family: $font-subtitle;
        font-weight: 700;
        padding: 5px;
        text-align: center;
        @include mq(1200px){
            font-size: 18px;
            
          }
    }}

    .slider {
        padding: 15px;
        display: flex;
        overflow-x: auto;
        gap: 20px;
        @include mq(1200px){
            justify-content:space-around;
            flex-wrap: wrap;

         }
    }

